/node_modules
/public/hot
/public/storage
/public/profile-photos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
deployer.sh
.htaccess
.htpasswd
public/mix-manifest.json
public/js/app.js
public/clients
public/js/tinymce
mysql-data/mysql.sock
